body {
    margin: 0 auto;
    background-color: #11293d;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    margin: 0 auto;
}

h3 {
    width: 150px;
    border: 2px solid #11293d;
    color: white;
    font-size: 2em;
    padding: 8px 16px;
}

.box {
    text-align: center;
    padding: 20px;
}

input {
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: black;
    color: red;
    font-size: 6em;
    margin-bottom: 20px;
}

.incrementBtn {
    padding: 10px;
    background-color: #11293d;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.incrementBtn:hover {
    background-color: gray;
    color: #11293d;
}

#resetBtn {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    font-weight: bold;
}